GeoSkylines/burningmime.curves/
GeoSkylines/GeoSkylines.csproj
GeoSkylines/obj/
GeoSklines/bin/Debug/Assembly*.dll
GeoSklines/bin/Debug/ColossalManaged.dll
GeoSklines/bin/Debug/IC*.dll
GeoSklines/bin/Debug/Pops*.dll
GeoSklines/bin/Debug/Unity*.dll
.vs/

